<mat-chip-list class="mat-typography">
    <mat-chip class="username-mat-chip" (click)="dialogService.openUsernameDialog()">
        <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
        {{ usernameService.getUsername() }}
    </mat-chip>
</mat-chip-list>

<div fxLayout="column" style="margin-bottom: 48px">
    <div fxLayout="column" fxLayoutAlign="center center">
        <label class="mat-display-2 ml-h1">
            DaiQ
        </label>
        <label class="mat-h4 ml-h4">
            Your daily question
        </label>
    </div>

    <router-outlet></router-outlet>

</div>
