<div fxLayout="row" fxLayoutGap="48px" fxLayoutAlign="center top">
    <mat-card class="mat-elevation-z8" style="width: {{ styles.cardWidth }}; padding: 24px 36px">
        <div fxLayoutAlign="center">
            <p style="margin: 0; font-size: 3.5em; color: rgb(70,150,220); font-weight: bold">
                ?
            </p>
        </div>

        <div *ngIf="isQuestionPresent()">
            <h3>{{ question?.question }}</h3>

            <div>
                <mat-button-toggle-group name="answers"
                                         [value]="userAnswer"
                                         [disabled]="stopAnswering"
                                         vertical
                                         style="width: {{ styles.cardWidth }}"
                                         (change)="answerService.saveUserAnswer($event.value)">
                    <mat-button-toggle style="background-color: {{ styles.answerAColor }}" value="A">{{ question?.answers?.["A"] }}</mat-button-toggle>
                    <mat-button-toggle style="background-color: {{ styles.answerBColor }}" value="B">{{ question?.answers?.["B"] }}</mat-button-toggle>
                    <mat-button-toggle style="background-color: {{ styles.answerCColor }}" value="C">{{ question?.answers?.["C"] }}</mat-button-toggle>
                    <mat-button-toggle style="background-color: {{ styles.answerDColor }}" value="D">{{ question?.answers?.["D"] }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <div *ngIf="!isQuestionPresent()" fxLayoutAlign="center" style="margin-top: 14px">
            Currently there is no question.
        </div>
    </mat-card>
</div>
